   /* css variables */
   
    :root {
       --textFormat: upperCase;
       --effect: all .8s linear;
       --space: .1rem;
       --weight: 600;
       /* start default theme */
       --primaryCol: #ffff18;
       --secondaryCol: rgb(127, 19, 228);
       --colorOne: #ffffff;
       --colorTwo: #000000;
       --colorThree: #808080;
       /* end default theme */
   }
   /* global css */
   
   * {
       font-family: 'Montserrat', sans-serif;
       list-style: none!important;
       text-decoration: none!important;
       box-sizing: border-box;
   }
   
   ul {
       margin: 0;
       padding: 0;
   }
   
   html {
       font-size: 100%;
       scroll-behavior: smooth;
   }
   /* start preloader */
   
   .preloadContainer {
       background: var(--colorTwo);
       position: fixed;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       z-index: 9999;
   }
   
   .preloader {
       background-image: url(../img/preloader/preloader.png);
       background-repeat: no-repeat;
       height: 100px;
       width: 100px;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
   }
   /* end preloader */
   /* start typed js on banner */
   
   .banner {
       background: linear-gradient( rgba(223, 14, 14, 0.7) 100%, rgba(226, 13, 13, 0.5)100%), url(../img/type-js-of-banner/banner.jpg);
       background-repeat: no-repeat;
       height: 90vh;
       background-position: center;
       color: #fff;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       text-transform: uppercase;
       letter-spacing: .1rem;
   }
   
   .animateText {
       color: var(--primaryCol);
   }
   /* end typed js on banner */